body {
    margin: 0;
    padding: 0;
    /* background-image: url("/img/reg.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}
.container {
    background:red;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
    
    html, body {
        margin:0px;
        height:100%;
      }
.containerReg {
    background-image: url("../img/reg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px; */
    height: 100vh;
}

.confirm-btn {
    width: 150px;
    height: 35px;
    border-radius: 50px;
    background-image: linear-gradient(rgb(79, 121, 52), rgb(157, 231, 104));
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.table-name {
    cursor:pointer;
    width: 250px;
    border-radius: 50px;
    height: 50px;
    /* margin-top: 250px; */
    background-image: linear-gradient(rgb(236, 156, 6), yellow);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;

}

.table-name option {
    color: rgb(10, 10, 10);
}