html, body {
    margin:0;
    height:100vh;
}
.container {
    min-width: fit-content; /* avelacrel em vor ej poqracneluc chkarchana fon@*/
    min-height: fit-content; /* esel */
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
#mainContainer{
    background-image:url("../img/genmen.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* tokosov mi greq, ail vh vor ekrani chapov voch te contenti */
}
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 30px;

}
.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 10vh;
    font-size: larger;
}
.item3{

    justify-self: center;
    margin-bottom: 4vh;
    padding: 5px;
}

.gridContainer  div {
    color:white;
    text-align: center;
    font-size: 25px;
}
.spcProductImg{
    height:250px;


}
.price{
    margin-top: 5%;
}

.ingredientsOfProduct {
    font-size: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: left;
}
#checkbox1{
    height: 22px;
    width: 22px;
    background-image: linear-gradient(#8eb14d, #8acb8a);
    border-radius: 10px;
}
.gridContainer div.ingredientsOfProduct {
  text-align: left;
}
.gridContainer div.numberOfProduct{
    padding:2px;

 }
.numberOfProduct{
    display:flex;
    flex-direction: column;
}
.numberOfProduct h4{
    margin: 10px;
    text-align: justify;
}
.quantityOfProduct{
    display:flex;
    align-items: center;
    justify-content: flex-start;


}
.totalPriceDiv{
    gap: 10px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.quantityOfProduct label{
    margin-right: 10px;
}

#quantity{
    border-radius: 10px;
    border: 1px white solid;
    color: #ffffff;
    text-align: center;
    width: 56px;
    height: 36px;
    font-size: 34px;
    background-image: linear-gradient(#8eb14d, #8acb8a);
}

#add{
    cursor: pointer;
    border-left: none;
}
#subtract{
    cursor: pointer;
    border-right: none;
}
#add, #subtract {
    border: none;
    color: #ffffff;
    background: rgba(0,0,0,0);
    height: 36px;
    width: 40px;
    text-align: center;
    font-size: 28px;
}

#totalPrice{
    border-radius: 10px;
    border: 1px solid white;
    color: #ffffff;
    font-size: 25px;
    height: 45px;
    width:100px;
    padding:0;
    margin:5px;
    text-align: center;
    background-image: linear-gradient(#8eb14d, #8acb8a);
}

#addToBasket{
    cursor: pointer;
    height: 50px;
    width: 170px;
    background-image: linear-gradient(#8eb14d, #8acb8a);
    color: #ffffff;
    font-size: large;
    border-radius: 25px;
    float:right;
    margin: 10%;
}
#addToBasket:hover{
    background-image: linear-gradient(red,darkred);
}

